.buy{
    margin: 20px 0;
}
.buy .col-lg-4 > a {
    color: var(--gray);
    font-size: .80rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 10px;
}
.buy .col-lg-4 > a .back_icon{
    color: var(--gray);
    margin-right: 5px;
}
.buy .images > img{
    /* width: 350px; */
    width: 100%;
    border-radius: 10px;
}
.buy .images > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buy .images > div img{
    width: 80px;
    height: 80px;
    margin-top: 15px;
    border-radius: 10px;
    cursor: pointer;
}
.buy .content{
    margin-top: 50px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.buy .content > h6{
    font-size: 14px;
    color: var(--white);
    background-color: var(--second);
    padding: 4px 10px;
    border-radius: 6px;
    font-weight: 400;
}
.buy .content h3{
    margin-top: 20px;
}
.buy .content > p{
    color: var(--gray);
    /* font-size: 14px; */
}
.buy .content .rating{
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
}
.buy .content .rating p:nth-child(1){
    color: var(--main);
    font-size: .90rem;
    font-weight: 500;
    background-color: var(--light-purple);
    padding: 3px 7px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.buy .content .rating p:nth-child(1) .star{
    color: var(--main);
    margin-left: 3px;
    margin-bottom: 2px;
}
.buy .content .rating p:nth-child(2){
    font-size: .90rem;
    color: var(--gray);
    margin-left: 10px;
    font-weight: 500;
}
.buy .content .price{
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
}
.buy .content .price h2{
    font-weight: 600;
    color: var(--dark);
}
.buy .content .price p{
    color: var(--second);
    font-size: .90rem;
    margin-left: 50px;
}
.buy .content .qty{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}
.buy .content .qty button {
    width: 10px;
    height: 10px;
    font-size: 20px;
    font-weight: 500;
    color: var(--main);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--main);
    border-radius: 5px;
    background: var(--white);
    padding: 10px 10px;
    margin: 0;
    line-height: 0px;
    cursor: pointer;
}
.buy .content .qty h6{
    height: 20px;
    width: 20px;
    color: var(--dark);
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buy .content .qty p:nth-child(4){
    color: var(--gray);
    font-size: .90rem;
    margin: 0;
    margin-left: 20px;
}
.buy .content .qty p:nth-child(5){
    color: var(--dark);
    font-size: .90rem;
    font-weight: 600;
    margin: 0;
    margin-left: 2px;
}
.buy .content .button{
    margin: 15px 0;
}
.buy .content .button button:nth-child(1){
    margin-right: 20px;
}
