.cart .modal .modal-dialog{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart .modal .modal-content{
    border-radius: 15px;
    border: none;
}
.cart .modal .modal-content .modal-header{
    position: relative;
    padding: 10px 20px;
    justify-content: center;
}
.cart .modal .modal-content .modal-header h5{
    color: var(--dark);
    font-weight: 600;
}
.cart .modal .modal-content .modal-header .btn-close{
    margin: 0;
    position: absolute;
    top: 10px;
    right: 10px;
}
.cart .modal .modal-content .modal-header button{
    color: var(--gray);
    font-size: 14px;
}
.cart .modal .modal-content .modal-footer{
    padding: 5px 20px;
}
.cart .modal .modal-content .modal-footer button:nth-child(1){
    color: var(--gray);
    border: none;
    background-color: var(--white);
    margin-right: 20px;
}
.cart .modal .modal-content .modal-body{
    padding: 0 16px;
}







