@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 16px;
}
body{
    /* background-color: var(--light-gray); */
}

/* global css */
.light_theme {
    --main: #560bad;
    --second: orange;
    --light-purple: #cfa4ffa4;
    --light-orange: rgb(255, 229, 179);
    --white: white;
    --dark: #000;
    --gray: rgb(151, 151, 151);
    --middle-gray: rgb(221, 221, 221);
    --light-gray: rgba(243, 243, 243, 0.692);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}



/* utility classes */
.outline_button1 {
    position: relative;
    border: 1px solid var(--second) !important;
    background-color: var(--white);
    color: var(--second);
    border-radius: 8px;
    padding: 5px 13px;
    font-size: 14px;
    overflow: hidden;
    z-index: 1;
    transition: .3s ease-in-out;
}

.outline_button1::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 100%;
    background-color: var(--second);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    z-index: -1;
    transition: .3s ease-in-out;
}

.outline_button1:hover {
    color: var(--white) !important;
}

.outline_button1:hover::before {
    top: -62%;
    left: -50%;
}

.outline_button2 {
    position: relative;
    border: 1px solid var(--main) !important;
    background-color: var(--white);
    color: var(--main);
    border-radius: 10px;
    padding: 8px 13px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .5px;
    overflow: hidden;
    z-index: 1;
    transition: .2s ease-in-out;
}

.outline_button2::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 100%;
    background-color: var(--main);
    border-radius: 0 15px 15px 0;
    width: 110%;
    height: 110%;
    z-index: -1;
    transition: .3s ease-in-out;
}

.outline_button2:hover {
    color: var(--white) !important;
}

.outline_button2:hover::before {
    right: -10%;
}

.button_bg {
    color: var(--white);
    border: 2px solid var(--main);
    font-weight: 500;
    font-size: 14px;
    border-radius: 10px;
    padding: 4px 20px;
    text-decoration: none;
    overflow: hidden;
    background-color: var(--main);
    cursor: pointer;
    z-index: 1;
    transition: .3s ease-in-out;
}

.button_bg:hover {
    background-color: var(--light-purple);
    color: var(--main);
    font-weight: 500;
}

.button_outline {
    color: var(--main);
    border: 2px solid var(--main);
    font-weight: 500;
    font-size: 14px;
    border-radius: 10px;
    padding: 4px 20px;
    text-decoration: none;
    overflow: hidden;
    background-color: var(--white);
    cursor: pointer;
    z-index: 1;
    transition: .3s ease-in-out;
}

.button_outline:hover {
    background-color: var(--light-purple);
    font-weight: 500;
}

.orange_button_outline {
    color: var(--second);
    border: 2px solid var(--second);
    font-size: 14px;
    border-radius: 10px;
    padding: 4px 20px;
    text-decoration: none;
    overflow: hidden;
    background-color: var(--white);
    cursor: pointer;
    z-index: 1;
    transition: .3s ease-in-out;
}

.orange_button_outline:hover {
    background-color: var(--light-orange);
}

.heading_design1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.heading_design1>h1 {
    position: relative;
    font-size: 2.6rem;
    font-weight: 600;
    color: var(--dark);
    text-align: center;
    letter-spacing: 1px;
}

.heading_design1>h1::before {
    content: '';
    position: absolute;
    top: -30px;
    right: -10px;
    background-color: var(--light-purple);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    z-index: -1;
}

.heading_design1>h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border: 2px solid var(--main);
    border-radius: 8px;
    width: 60%;
}

.heading_design1>p {
    font-size: .80rem;
    color: var(--gray);
    text-align: center;
}

.heading_design2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

.heading_design2>h1 {
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    color: var(--dark);
    text-align: center;
    letter-spacing: 1px;
}

.heading_design2>h1 span:nth-child(1) {
    position: absolute;
    top: 28px;
    right: -20px;
    color: #ffca07;
    z-index: -1;
    transform: rotate(-70deg);
}

.heading_design2>h1 span:nth-child(2) {
    position: absolute;
    top: -30px;
    left: 20px;
    color: #ff8f8f;
    z-index: -1;
    transform: rotate(-20deg);
}

.heading_design2>h1 span:nth-child(3) {
    position: absolute;
    top: -13px;
    right: 10px;
    font-size: 18px;
    color: var(--main);
    z-index: -1;
    transform: rotate(-60deg);

}

.heading_design2>p {
    font-size: .80rem;
    color: var(--gray);
    text-align: center;
}